// IMPORTED LIBRARIES
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./clearfix";
@import "./paletton-colors";

body *{
	font-family: "Roboto Condensed","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#app-container{
	background-color: $color-primary-2;
}

.header {
	background-color: $color-primary-0;
	text-align: center;
}

.song-pane {
	background-color: $color-secondary-1-2;
}

.song-pane h2{
	color: $color-secondary-1-3;
}

.song-pane h3{
	color: $color-secondary-1-0;
}
